{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<!-- Home Page -->

<!-- Masthead-->
<div class="container font text-white max_container">
  <!-- Main heading -->


  <div class="w-100 text-center">
    <h1 class="mx-auto ms-4 text-white masthead-heading text-uppercase">EmotiFy</h1>
  </div>

  <!-- Central image feature home page -->
  <div class="d-flex position-relative flex-column">

    <!-- Description about page -->
    <div class="d-flex pt-2 col-12 align-items-center align-self-end justify-content-between flex-column flex-md-row gap-2">
      <div class="img-outer">
        <img class="max_h" src="{{ images[1].image }}" alt="Image name {{ images[1].title }}" />
      </div>
      
      <div>
        <div class="ms-3 p-2 h-auto font py-1 text-left text-bottom text-white">
          <p>The place where you share your<em>Creative Images</em></p>
          <p>Post and publish your creative images online</p>
        </div>
      </div>

    </div>

    <!-- Description about page -->
    <div class="d-flex pt-2 col-12 align-items-center align-self-end justify-content-between flex-column flex-md-row gap-2">
      <div class="order-1 order-md-0">
        <div class="ms-3 p-2 font py-1 text-left text-bottom text-white">
          <p>Created your art digitally hand crafted masterpiece</p>
          <p>This platforms can help get your digital art noticed</p>
        </div>
      </div>

      <div class="img-outer order-0 order-md-1">
        <img class="max_h" src="{{ digital_art[1].image }}" alt="Image name {{ digital_art[1].title }}" />
      </div>

    </div>

    <!-- Description about page -->
    <div class="d-flex pt-2 col-12 align-items-center align-self-end justify-content-between flex-column flex-md-row gap-2">
      <div class="img-outer">
        <img class="max_h" src="{{ painting[0].image }}" alt="Image name {{ painting[0].title }}" />
      </div>
     
      <div>
        <div class="ms-3 p-2 font py-1 text-left text-bottom text-white">
          <p>Acrylic, Colored pencils, and much more...</p>
          <p>There are only a few steps to unleash your creativity</p>
          <p>Create and share your own art or discover the work of others</p>
          <p><a href="{{ url_for('register') }}">Register Account</a> And start sharing</p>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}