{% extends "base.html" %}

<!-- Page title -->
{% block title %}Add Post{% endblock %}

{% block content %}
    <!-- Add post form Form-->
    {{ url_check }}
    <div class="row justify-content-center">
        <div class="w-100 max-width">
            <form id="postForm" enctype="multipart/form-data" method="POST" action="{{ url_for('add_post') }}">
                <div class="w-100 select-wrap">
                    <select class="form-select mb-2" name="category" id="category" aria-label="example">
                        <option value="">Select Category</option>

                        {% for category in categories %}

                        <option value="{{ category.category_name }}">{{ category.category_name }}
                        </option>

                        {% endfor %}

                    </select>
                </div>
                <!-- title input-->
                <div class="custom  mb-2">
                    {{ form.title( class="form-control", placeholder="Title") }}

                    {% if form.title.errors %}
                    <ul class="errors text-danger">
                        {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>
                <!-- Description input-->
                <div class="custom  mb-2">
                    {{ form.description( class="form-control", placeholder="Enter your Description here...", style="height: 8rem") }}

                    {% if form.description.errors %}
                    <ul class="errors text-danger">
                        {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    
                </div>

                <!-- select File to upload class="form-control form-control-lg-->
                <div class="mb-3">
                    
                    {{ form.file( class="form-control form-control-lg" ) }}
                    <label for="file" class="form-label">JPG Or PNG Aloved</label>
                    {% if form.file.errors %}
                    <ul class="errors text-danger">
                        {% for error in form.file.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                </div>

                <!-- Submit Button-->
                <div class="btn_goup_user custom-btn  d-flex justify-content-between">
                    <button class="btn btn-primary col-12 btn-lg" id="submitButton" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}