{% extends "base.html" %}

<!-- Page title -->
{% block title %}My Posts{% endblock %}

{% block content %}
<!-- User Profile Section-->
<div class=" row justify-content-center">
    <!-- uer posts -->
    {% for post in posts %}
        
            <div class="card my-card text-center m-2" >
                <div class="img_posts">
                <a href="">
                    <img src="{{ post.image_sm }}" class="" alt="{{ post.categoty_name }}title {{ post.title }}">
                </a>
                </div>
                <div class="p-1 d-flex flex-column justify-content-between mt-1">
                    <div>
                        <h6 class="card-title">{{post.title}}</h6>
                        <p class="card-text">{{post.description}}.</p>
                    </div>
                </div>
                <a href="{{ url_for('edit_post',  post_id=post._id) }}">
                <div class="portfolio-item-caption  d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white">Edit
                    </div>
                </div>
                 </a>
            </div>
       
    {% endfor %}

</div>

{% endblock %}