{% extends "base.html" %}

<!-- Page title -->
{% block title %}Manage Post{% endblock %}

{% block content %}

<!-- Add post form Form-->
<div class="justify-content-center pt-2">
    <div class="w-100 mx-auto max-width">
        <div class="bg-secondary img-edit mb-2">
            <img class="" src="{{ post.image }}" alt="{{ post.title }}">
        </div>

        {% if session.user == "admin" %}
        <div class="btn-danger ms-2 mb-2 btn btn-sm text-white" data-bs-toggle="modal" data-bs-target="#delete_user"><i
                class="fas fa-user-slash"></i> Delete user:
            {{ created_by.username }} </div>
        {% endif %}
        <!-- Edit or delete user posts -->
        <form id="postForm" class="mx-2" method="POST" action="{{ url_for('edit_post', post_id=post._id)}}">
            <div class="w-100 select-wrap">

                <select class="form-select form-select-lg mb-2" name="category" id="category" aria-label="example">

                    {% for category in categories %}

                    {% if category.category_name == post.category_name %}
                    <option selected value="{{ category.category_name }}">{{ post.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}
                    </option>
                    {% endif %}

                    {% endfor %}

                </select>
            </div>
            <!-- title input-->

            <div class="custom input-group input-group-lg mb-2">
                {{ form.title( class="form-control", placeholder="Title", value=post.title ) }}

                {% if form.title.errors %}
                <ul class="errors text-danger">
                    {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Description input-->
            <div class="custom  mb-2">

                <textarea class=" form-control" id="description" name="description" type="text" placeholder=""
                    style="height: 8rem">{{ post.description }}</textarea>
                {% if form.description.errors %}
                <ul class="errors text-danger">
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>

            <!-- Submit Button-->
            <div class="mb-2 d-flex justify-content-between">
                <button class="btn btn-primary col-12 btn-lg" id="submitButton" type="submit">Submit Changes</button>
            </div>

            <!-- Delete post -->
            <div class="pt-2 del_post form-check d-flex justify-content-between">
                <div class="text-white">
                    <label for="myCheck">
                        <em>Confirm to delete</em>
                    </label>
                    <input class="form-check-input bg-danger" type="checkbox" id="myCheck" onclick="myFunction()">
                </div>

                <!-- Button to delete -->
                <a id="on_check" href="{{ url_for('delete_post', post_id=post._id) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete Post
                </a>

                <!-- Added this to fix JS error -->
                <script type="text/javascript">
                    document.getElementById('on_check').classList.add('disabled');
                </script>

            </div>
        </form>

    </div>
</div>

{% if session.user == "admin" %}

<!--  search Modal -->
<div class="modal fade" id="delete_user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content p-3 gap-3 bg-secondary">
            <div class="modal-header modal-body" data-bs-dismiss="modal" aria-label="Close">
                <h5 class="modal-title text-white" id="exampleModalLabel"><i class="fas fa-user-slash"></i>DELETE USER
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="">
                <div class="container-fluid px-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="max-width col-12">
                        <!-- to get an API token!-->
                        <form clas=" needs-validation" method="POST" action="{{ url_for('delete_profile') }}">
                            <!-- title input-->

                            <div class="col-12 form-floating mb-2">
                                {{ form2.username( class="form-control", value=created_by.username, autocomplete="on" ) }}
                                <label for="username"><i class="fas fa-user-minus"></i> Username</label>
                                {% if form2.username.errors %}
                                <ul class="errors text-danger">
                                    {% for error in form2.username.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Password -->
                            <div class="col-12 form-floating mb-2">
                                {{ form2.password( class="form-control", autocomplete="on") }}
                                <label for="password"><i class="fas fa-user-lock"></i> Admin Password</label>
                                {% if form2.password.errors %}
                                <ul class="errors text-danger">
                                    {% for error in form2.password.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Password -->
                            <div class="col-12 form-floating mb-2">
                                {{ form2.confirm( class="form-control", autocomplete="off") }}
                                <label for="confirm"><i class="fas fa-user-lock"></i> Confirm Password</label>
                                {% if form2.confirm.errors %}
                                <ul class="errors text-danger">
                                    {% for error in form2.confirm.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Submit Button-->

                            <div class="btn_goup_user custom-btn d-flex justify-content-between">
                                <button id="enabled" class="btn col-12 btn-danger btn-lg" id="delete"
                                    type="submit">Delete
                                    Account
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}