{% extends "base.html" %}

<!-- Page title -->
{% block title %}Account{% endblock %}

{% block content %}

<!-- Change Password-->
<div class="container-fluid px-2 pt-4 d-flex flex-column align-items-center justify-content-center">
    <div class="max-width col-12">

        <!-- Change Password form-->
        <div class="accordion-item bg-transparent">
            <h2 class="accordion-header" id="flush-heading5">
                <button class="accordion-button  bg-transparent collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">

                    <h4 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                        <i class="fas fa-user-edit"></i> Change Password
                    </h4>

                </button>
            </h2>

            <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                data-bs-parent="#accordionFlushExample">
                <!-- Resset DB Indexes -->
                <div class="accordion-body bg-transparent">

                    <form clas=" needs-validation" method="POST" action="{{ url_for('change_password') }}">
                        <!-- Old passwor Input -->
                        <div class="form-floating  mb-2">
                            {{ form.old_password( class="form-control", placeholder="Old Password") }}
                            <label><i class="fas fa-user-lock"></i> Old Password</label>
                            {% if form.old_password.errors %}
                            <ul class="errors text-danger">
                                {% for error in form.old_password.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                        <!-- New Password -->
                        <div class="col-12 form-floating mb-2">
                            {{ form.password( class="form-control", placeholder="Password") }}
                            <label for="password"><i class="fas fa-user-lock"></i>Password</label>
                            {% if form.password.errors %}
                            <ul class="errors text-danger">
                                {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>

                        <!-- Cofirm Password -->
                        <div class="col-12 form-floating mb-2">
                            {{ form.confirm( class="form-control", placeholder="Confirm Password") }}
                            <label for="confirm"><i class="fas fa-user-lock"></i> Confirm Password</label>
                            {% if form.confirm.errors %}
                            <ul class="errors text-danger">
                                {% for error in form.confirm.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <button class="btn col-12 btn-info text-white btn-lg" type="submit" name="submit">Submit
                        </button>
                        <!-- Submit Button-->

                    </form>
                </div>
            </div>
        </div>

        <hr class="margin-0">
        <!-- Delete Account Form -->

        <div class="accordion accordion-flush " id="accordionFlushExample">
            <div class="accordion-item bg-transparent">

                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="flush-heading4">

                        <button class="accordion-button bg-transparent collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false"
                            aria-controls="flush-collapse4">

                            <h4 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                                <i class="fas fa-user-slash"></i> Delete Account
                            </h4>
                        </button>
                    </h2>

                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                        data-bs-parent="#accordionFlushExample">
                        <!-- Resset DB Indexes -->
                        <div class="accordion-body bg-transparent">

                            <!-- title input-->
                            <form clas=" needs-validation" method="POST" action="{{ url_for('delete_profile') }}">

                                <!-- Password -->
                                <div class="form-floating  mb-2">
                                    {{ form3.password( class="form-control", placeholder="Password") }}
                                    <label><i class="fas fa-user-lock"></i> Password</label>
                                    {% if form3.password.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form3.password.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Confirm Password -->
                                <div class="form-floating  mb-2">
                                    {{ form3.confirm( class="form-control", placeholder="Confirm Password") }}
                                    <label><i class="fas fa-user-lock"></i> Confirm Password</label>
                                    {% if form3.confirm.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form3.confirm.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Submit Button to delete-->
                                <button class="btn col-12 btn-danger btn-lg" name="submit" type="submit">Delete</button>
                                <div class="pt-2 del_post form-check d-flex justify-content-between">

                            </form>
                        </div>
                    </div>
                </div>
                <hr class="m-0">
            </div>
        </div>
    </div>
</div>
{% endblock %}