{% extends "base.html" %}
{% block content %}

<!-- Manage  profile-->

<div class="row justify-content-center">
    <div class="max-width">
        <div class="col-12">
            <!-- to get an API token!-->
            <form id="postForm">
                <!-- title input-->
                <div class="custom form-floating mb-3">
                    <input class=" form-control" style="height: 4rem" id="name" type="text"
                        placeholder="Enter your Name..." required />
                    <label for="name">Name</label>
                </div>
                <!-- Description input-->

                <div class="custom form-floating mb-3">
                    <input class="form-control" style="height: 4rem" id="password" type="password"
                        placeholder="Enter your password..." required />
                    <label for="password">Password</label>
                </div>

                <!-- Submit Button-->
                <div class="btn_goup_user custom-btn d-flex justify-content-between">
                    <button class="btn btn-info btn-md" id="submitButton" type="submit">Submit Edit
                    </button>
                    <button class="btn btn-danger btn-md" id="submitButton" type="submit">Delete
                        Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}