{% extends "base.html" %}

<!-- Page title -->
{% block title %}Gallery{% endblock %}

{% block content %}

<!-- Button trigger modal -->
<div class="sticky-top mx-2" role="button" style="top: 70px" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h4 class="hover_efect ms-auto"><i class="fas fa-search"></i> Search</h4>
</div>

<!--  search Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel"><i class="fas fa-search"></i> Search</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-3">

                <form class="mx-auto" id="postForm" method="POST" action="{{ url_for('query') }}">
                    <!-- Search query Input field -->
                    <div class="d-flex justify-content-center gap-1">
                        <div class="col-3 input-group-sm">
                            <input class="input form-control me-2" name="search" type="search" placeholder="Keyword"
                                aria-label="Search">
                        </div>
                        <!-- select category From existing categories -->
                        <div class="col-md-3 input-group-sm">
                            <select class="form-select text-capitalize input" name="category" id="category"
                                aria-label="example">
                                <option selected value="select category">select category</option>
                                {% for category in categories %}

                                <option value="{{ category.category_name }}">{{ category.category_name }}
                                </option>

                                {% endfor %}

                            </select>
                        </div>

                        <!-- Submit button -->
                        <div class="col-3">
                            <button class="btn col-12 btn-primary btn-sm" id="submitButton" type="submit">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Galley Grid Items-->
<div class="g-container d-flex gap-3 flex-wrap justify-content-center">

    {% for post in posts %}

    <!-- Gallery Item 1-->

    <div class="bg-secondary cont" data-bs-toggle="modal" data-bs-target="#a{{post._id}}">
        <img class="img-fluid-gall" src="{{ post.image }}" loading="lazy" alt="{{ post.categoty_name }}title {{ post.title }}" />
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">{{ post.title }}
            </div>
        </div>
    </div>

    <!-- Gallery Modal 1-->
    <div class="modal fade" id="a{{post._id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content font modal_body_col">
                <!-- Gallery Modal - Title-->
                <div class="modal-header text-uppercase font-weight-bold text-white"
                    data-bs-dismiss="modal" aria-label="Close">
                    <h2 class="modal-title">
                        {{ post.title }}
                    </h2>
                    <div>
                        <h2><i class="fas fa-times x_btn text-twite"></i></h2>
                    </div>
                </div>
                <div class="modal-body ">
                    <!-- Gallery Modal - Image-->
                    <div class="d-flex flex-column pt-3 justify-content-center align-items-center">
                        <div> <a href="{{ post.img_origin }}" target=”_blank”>
                                <img src="{{ post.img_origin }}" class="modal_img"
                                    alt="{{ post.categoty_name }}title {{ post.title }}">
                            </a>
                        </div>
                        <!-- Gallery Modal - Text-->
                        <div class="text-white m-1 modal_text">
                            <p class="p-2">{{post.description}}.</p>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                </div>
                <div class="modal-footer" data-bs-dismiss="modal" aria-label="Close">
                    <div class="col-12 text-left text-white text-capitalize"><em>Created by: {{post.created_by}}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}