{% extends "base.html" %}

<!-- Page title -->
{% block title %}<i class="fas fa-images"></i> Gallery{% endblock %}

{% block content %}
<!--  search Modal -->
<div class=" m-2 ">
    <form class="mx-auto" id="postForm" method="POST" action="{{ url_for('query') }}">
        <!-- Search query Input field -->
        <div class="d-flex justify-content-center">
            <div class="col-3 input-group-sm">
                <input class="input form-control me-2" name="search" type="search" placeholder="Keyword"
                    aria-label="Search">
            </div>
            <!-- select category From existing categories -->
            <div class="col-md-3 input-group-sm">
                <select class="form-select text-capitalize input" name="category" id="category" aria-label="example">
                    <option selected value="select category">select category</option>
                    {% for category in categories %}

                    <option value="{{ category.category_name }}">{{ category.category_name }}
                    </option>

                    {% endfor %}

                </select>
            </div>

            <!-- Submit button -->
            <div class="col-3">
                <button class="btn col-12 btn-primary btn-sm" id="submitButton" type="submit"><i
                        class="fas fa-search"></i> Search</button>
            </div>
        </div>
    </form>
</div>
<!-- Galley Grid Items-->
<div class="g-container d-flex gap-3 flex-wrap justify-content-center">

    {% for post in posts %}

    <!-- Gallery Item 1-->

    <div class="bg-secondary cont" data-bs-toggle="modal" data-bs-target="#a{{post._id}}">
        <img class="img-fluid-gall" src="{{ post.image_sm }}" alt="{{ post.categoty_name }}title {{ post.title }}" />
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">{{ post.title }}
            </div>
        </div>
    </div>
    <!-- Gallery Modal 1-->
    <div class="modal fade" id="a{{post._id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content font">
                <!-- Gallery Modal - Title-->
                <div class="modal-header text-uppercase font-weight-bold bg-secondary text-white"
                    data-bs-dismiss="modal" aria-label="Close">
                    <h2 class="modal-title">
                        {{ post.title }}
                    </h2>
                    <div>
                        <h2><i class="fas fa-times x_btn text-twite"></i></h2>
                    </div>
                </div>
                <div class="modal-body bg-white">
                    <!-- Gallery Modal - Image-->
                    <div class="bg-white d-flex flex-column pt-3 justify-content-center align-items-center">
                        <div> <a href="{{ post.image }}" target=”_blank”>
                                <img src="{{ post.image }}" class="modal_img"
                                    alt="{{ post.categoty_name }}title {{ post.title }}">
                            </a>
                        </div>
                        <!-- Gallery Modal - Text-->
                        <div class="text-secondary m-1 modal_text">
                            <p class="p-2">{{post.description}}.</p>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                </div>
                <div class="modal-footer bg-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <div class="col-12 text-left text-white text-capitalize"><em>Created by: {{post.created_by}}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}