{% extends "base.html" %}

<!-- Page title -->
{% block title %}Gallery{% endblock %}

{% block content %}

<!-- Galley Grid Items-->
<div class="portfolio d-flex flex-wrap align-items-aroud justify-content-center">

    {% for post in posts %}

    <!-- Gallery Item 1-->
    <div class="m-3">
        <div class="portfolio-item mr-auto" data-bs-toggle="modal" data-bs-target="#a{{post._id}}">
            <div class="portfolio-item-caption  d-flex align-items-center justify-content-center h-100 w-100" >
                <div class="portfolio-item-caption-content text-center text-white">{{post.title}}
                </div>
            </div>
            <div class="bg-primary">
            <img class="img-fluid" src="{{ post.image_sm }}" alt="{{ post.categoty_name }}title {{ post.title }}" />
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="a{{post._id}}" tabindex="-1" aria-hidden="true">
        <!-- Gallery Modal 1-->
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Gallery Modal - Title-->

                <div class="modal-header">
                    <h2 class="modal-title text-secondary text-uppercase ">
                        {{ post.title }}
                    </h2>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Gallery Modal - Image-->

                    <div class="modal_img mb-2">
                        <a href="{{ post.image }}" target=”_blank” ><img src="{{ post.image }}" class="" alt="{{ post.categoty_name }}title {{ post.title }}"></a>
                    </div>
                    <!-- Gallery Modal - Text-->
                    <div class="p-1">
                        <p class="card-text">{{post.description}}.</p>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <div class="col-12 text-left"><em>Created by: {{post.created_by}}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}