{% extends "base.html" %}

<!-- Page title -->
{% block title %}Emotify{% endblock %}

{% block content %}

    <!-- Home Page -->
    <div class="container d-flex align-items-center flex-column">       
        <img class="masthead-avatar mb-5" src="static/img/avataaars.svg" alt="..." />
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Home Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Share Your</p>
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Paintings - Pictures</p>
    </div>


{% endblock %}