{% extends "base.html" %}

<!-- Page title -->
{% block title %}Emotify{% endblock %}

{% block content %}

    <!-- Home Page -->
    <div class="container d-flex align-items-center flex-column">       
     
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <img src="https://source.unsplash.com/random/800x400" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="https://source.unsplash.com/random/800x400"" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="https://source.unsplash.com/random/800x400"" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <!-- Home Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Share Your</p>
        <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Paintings - Pictures</p>
    </div>


{% endblock %}