{% extends "base.html" %}

<!-- Page title -->
{% block title %}<i class="fas fa-sign-in-alt"></i> Log In{% endblock %}

{% block content %}
<!-- Sign In -->
<div class="container px-2 pt-2 d-flex flex-column align-items-center justify-content-center">
    <div class="col-12 max-width">

        <form method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">

                <!-- username -->
                <div class="col-12 form-floating mb-2">
                    {{ form.username( class="form-control", placeholder="Username Name") }}
                    <label class="form-label" for="username"><i class="fas fa-user-cog form-floating"></i>
                        username</label>
                    {% if form.username.errors %}
                    <ul class="errors text-danger">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="col-12 form-floating mb-2">
                    {{ form.password( class="form-control", placeholder="Password") }}
                    <label class="form-label" for="password"><i class="fas fa-user-lock"></i>
                        Password</label>
                    {% if form.password.errors %}
                    <ul class="errors text-danger">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Login -->
                <div class="col-12 mb-3 mt-3">
                    <button type="submit" class="btn col-12 btn-primary btn-lg">
                        <i class="fas fa-sign-in-alt"></i> Log In
                    </button>
                </div>

                <!-- Link To Register -->
                <div class="col-12 text-white">
                    <p>
                        New Here? <a href="{{ url_for('register') }}">Register Account</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}