{% extends "base.html" %}
{% block content %}

<!-- Sign In -->
<section class="page-section mt-5" id="User">
    <div class="row justify-content-center" id="contact">
        <div class="col-12 max-width">
            <!-- Contact Section-->
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                Log In</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- Flashed messages -->
                    {%  with messages = get_flashed_messages() %}
                    {% if messages%}
                    {% for message in messages %}
                    <div class="row flashes">
                        <div class="col-12 text-center">
                            <h4 class="col-12 center-align">{{ message }}</h4>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <form lass="col-12" method="POST" action="{{ url_for('login') }}">

                        <div class="card-panel">
                            <!-- username -->
                            <div class="col-12 form-floating mb-2">

                                <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                    pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                                <label class="form-label" for="username"><i class="fas fa-user-cog form-floating"></i>
                                    username</label>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="col-12 form-floating mb-2">

                                <input id="password" name="password" type="password" minlength="5" maxlength="15"
                                    pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" required>
                                <label class="form-label" for="password"><i class="fas fa-user-lock"></i>
                                    Password</label>
                            </div>

                            <!-- Login -->
                            <div class="col-12 mb-3 mt-3">
                                <button type="submit" class="btn col-12 btn-primary btn-md">
                                    <i class="fas fa-sign-in-alt"></i> Log In
                                </button>
                            </div>

                            <div class="col-12">
                                <p> 
                                    New Here? <a href="{{ url_for('register') }}">Register Account</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}