{% extends "base.html" %}

<!-- Page title -->
{% block title %}Admin{% endblock %}

{% block content %}

<!-- Manage  profile-->
<div class="container-fluid px-2 d-flex flex-column align-items-center justify-content-center">
    <div class="max-width col-12">

        <div class="bg-danger ms-2 mb-2 btn btn-sm text-white" data-bs-toggle="modal" data-bs-target="#delete_user"><i class="fas fa-user-slash"></i> Delete user: 
            user </div>
        </form>
    </div>
</div>

<!--  search Modal -->
<div class="modal fade" id="delete_user" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content p-3 gap-3">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-slash"></i>DELETE USER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid px-2 d-flex flex-column align-items-center justify-content-center">
                    <div class="max-width col-12">
                        <!-- to get an API token!-->
                        <form clas=" needs-validation" method="POST" action="{{ url_for('delete_profile') }}">
                            <!-- title input-->

                            <div class="col-12 form-floating mb-2">
                                {{ form2.username( class="form-control" ) }}
                                <label for="username"><i class="fas fa-user-minus"></i> Username</label>
                                {% if form2.username.errors %}
                                <ul class="errors text-danger">
                                    {% for error in form2.username.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Password -->
                            <div class="col-12 form-floating mb-2">
                                {{ form2.password( class="form-control") }}
                                <label for="password"><i class="fas fa-user-lock"></i> Admin Password</label>
                                {% if form2.password.errors %}
                                <ul class="errors text-danger">
                                    {% for error in form2.password.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Password -->
                            <div class="col-12 form-floating mb-2">
                                {{ form2.confirm( class="form-control") }}
                                <label for="confirm"><i class="fas fa-user-lock"></i> Confirm Password</label>
                                {% if form2.confirm.errors %}
                                <ul class="errors text-danger">
                                    {% for error in form2.confirm.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>

                            <!-- Submit Button-->
                            <button class="btn col-12 btn-danger btn-lg"
                            type="submit" name="submit">Delete
                            </button>  
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

{% endblock %}