{% extends "base.html" %}

<!-- Page title -->
{% block title %}Admin{% endblock %}

{% block content %}

<div class="container-fluid px-2 pt-2 d-flex flex-column align-items-center justify-content-center">
    <div class="max-width text-center col-12">

        <!-- User Posts -->
        <div class="accordion accordion-flush " id="accordionFlushExample">

            <div class="accordion-item bg-transparent">

                <h2 class="accordion-header" id="flush-heading">
                    <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse">
                        <h5 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                            <i class="fas fa-list"></i> Users And Posts
                        </h5>
                    </button>
                </h2>

                <div id="flush-collapse" class="accordion-collapse collapse" aria-labelledby="flush-heading"
                    data-bs-parent="#accordionFlushExample">
                    <!-- Users and Posts -->
                    <div class="accordion-body text-start bg-transparent" style="overflow: hidden;">
                        <!-- total numbers of users and posts -->
                        <div class="font text-white text-left">
                            <p>Total Number of Users: <span class="text-primary">{{ users|length }}</span></p>
                            <div class="font mb-3 text-capitalize text-primary p-2 border_col text-left"
                                style="max-height: 200px; overflow-y: scroll;">

                                <!--  Users registered count -->
                                {% for user in users %}

                                <span class="text-primary">{{ user.username }} ,</span>

                                {% endfor %}

                            </div>
                            <p> Total Number Posts: <span class="text-primary">{{ posts|length }}</span></p>
                        </div>

                        <!-- users and posts -->
                        <div style="max-height: 200px; overflow-y: scroll;">
                            {% for user, items in posts|groupby("created_by") %}

                            <p class="text-white text-capitalize m-0">{{ user }}: <span
                                    class="text-primary">{{ items|length }} </span>posts</p>
                            <div class="font p-2 h-25 border_col text-left">{% for post in items %}

                                <a href="{{ url_for('admin_posts', post_id=post._id) }}">{{ post.title }} ,</a>

                                {% endfor %}
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0">

            <div class="accordion-item bg-transparent">

                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h5 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                            <i class="fas fa-cog"></i> Resset DB Indexes
                        </h5>
                    </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <!-- Resset DB Indexes -->
                    <div class="accordion-body bg-transparent">

                        <p class="text-white font"> Run this only if the collection size has changed significantly.</p>
                        <p class="text-white font"> This Will drop all search indexes on a collection and recreates
                            them.</p>

                        <!-- Confirm Check Box -->
                        <div class="pt-2 indexes form-check d-flex justify-content-between">

                            <div class="text-white">
                                <label for="myCheck">
                                    <em>Confirm To resset</em>
                                </label>
                                <input class="form-check-input custom_check bg-primary" type="checkbox" id="myCheck"
                                    onclick="myFunction()">
                            </div>

                            <!-- resset Button -->
                            <a id="on_check" href="{{ url_for('resset_index') }}" class="btn btn-primary btn-lg">
                                Resset Index
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="m-0">

                <!-- Add New Category -->
                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="flush-heading2">
                        <button class="accordion-button bg-transparent collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false"
                            aria-controls="flush-collapse2">

                            <h5 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                                <i class="fas fa-folder-plus"></i> Add New Category
                            </h5>

                        </button>
                    </h2>
                    <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="flush-heading2"
                        data-bs-parent="#accordionFlushExample">

                        <div class="accordion-body bg-transparent">

                            <!-- Add New Category -->
                            <form id="postForm" enctype="multipart/form-data" method="POST"
                                action="{{ url_for('new_category') }}">

                                <!-- Category select input-->
                                <div class="form-floating mb-2">
                                    {{ form.category( class="form-control", placeholder="Category Name") }}
                                    <label><i class="fas fa-plus"></i> New Category</label>
                                    {% if form.category.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form.category.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Submit Button-->
                                <div class="btn_goup_user custom-btn  d-flex justify-content-between">
                                    <button class="btn btn-primary col-12 btn-lg" id="submitButton"
                                        type="submit">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <hr class="m-0">

                <!-- Delete Category -->
                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="flush-heading3">
                        <button class="accordion-button bg-transparent collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false"
                            aria-controls="flush-collapse3">

                            <h5 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                                <i class="fas fa-folder-minus"></i> Delete Category
                            </h5>

                        </button>
                    </h2>
                    <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
                        data-bs-parent="#accordionFlushExample">

                        <div class="accordion-body bg-transparent">
                            <!-- Existing categories select field -->
                            <form id="postForm" enctype="multipart/form-data" method="POST"
                                action="{{ url_for('delete_category') }}">

                                <select class="form-select form-select-lg mb-2" name="category" id="category"
                                    aria-label="example">
                                    <option> Sellect Categoy</option>
                                    {% for category in categories %}
                                    <option value="{{ category.category_name }}">{{ category.category_name }}
                                    </option>
                                    {% endfor %}
                                </select>

                                <!-- Submit Button-->
                                <button class="btn col-12 btn-danger btn-lg" type="submit" name="submit">
                                    Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="m-0">

                <!-- Delete Users accounts form-->
                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="flush-heading4">

                        <button class="accordion-button bg-transparent collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false"
                            aria-controls="flush-collapse4">

                            <h5 class="masthead-subheading text-white py-4 text-center font-weight-light mb-0">
                                <i class="fas fa-user-slash"></i> Delete User
                            </h5>

                        </button>
                    </h2>
                    <div id="flush-collapse4" class="accordion-collapse collapse" aria-labelledby="flush-heading4"
                        data-bs-parent="#accordionFlushExample">
                        <!-- Resset DB Indexes -->
                        <div class="accordion-body bg-transparent">


                            <form clas=" needs-validation" method="POST" action="{{ url_for('delete_profile') }}">
                                <!-- Username input -->
                                <div class="form-floating  mb-2">
                                    {{ form2.username( class="form-control", placeholder="Username Name") }}
                                    <label><i class="fas fa-user-minus"></i> Username</label>
                                    {% if form2.username.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form2.username.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Password -->
                                <div class="form-floating  mb-2">
                                    {{ form2.password( class="form-control", placeholder="Password") }}
                                    <label><i class="fas fa-user-lock"></i> Admin Password</label>
                                    {% if form2.password.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form2.password.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Confirm Password -->
                                <div class="form-floating  mb-2">
                                    {{ form2.confirm( class="form-control", placeholder="Confirm Password") }}
                                    <label><i class="fas fa-user-lock"></i> Confirm Password</label>
                                    {% if form2.confirm.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form2.confirm.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Submit Button-->
                                <button class="btn col-12 btn-danger btn-lg" type="submit" name="submit">Delete
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
                <hr class="m-0">

                <!-- Change Admin Password form-->
                <div class="accordion-item bg-transparent">
                    <h2 class="accordion-header" id="flush-heading5">
                        <button class="accordion-button  bg-transparent collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false"
                            aria-controls="flush-collapse5">

                            <h5
                                class="masthead-subheading text-info py-4 text-center text-white font-weight-light mb-0">
                                <i class="fas fa-user-edit"></i> Change Admin Password
                            </h5>

                        </button>
                    </h2>
                    <div id="flush-collapse5" class="accordion-collapse collapse" aria-labelledby="flush-heading5"
                        data-bs-parent="#accordionFlushExample">
                        <!-- Resset DB Indexes -->
                        <div class="accordion-body bg-transparent">

                            <form clas=" needs-validation" method="POST" action="{{ url_for('change_password') }}">

                                <!-- Old password input-->
                                <div class="form-floating  mb-2">
                                    {{ form3.old_password( class="form-control", placeholder="Old Passwodre") }}
                                    <label><i class="fas fa-user-lock"></i> Old Password</label>
                                    {% if form3.old_password.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form3.old_password.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Password -->
                                <div class="form-floating  mb-2">
                                    {{ form3.password( class="form-control", placeholder="Password") }}
                                    <label><i class="fas fa-user-lock"></i> New Password</label>
                                    {% if form3.password.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form3.password.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Confirm Password -->
                                <div class="form-floating  mb-2">
                                    {{ form3.confirm( class="form-control", placeholder="Confirm Password") }}
                                    <label><i class="fas fa-user-lock"></i> Confirm Password</label>
                                    {% if form3.confirm.errors %}
                                    <ul class="errors text-danger">
                                        {% for error in form3.confirm.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>

                                <!-- Submit Button-->
                                <button class="btn col-12 btn-info text-white btn-lg" type="submit" name="submit">Submit
                                </button>

                            </form>

                        </div>
                    </div>
                </div>
                <hr class="m-0">
            </div>
        </div>
    </div>


    {% endblock %}