{% extends "base.html" %}

<!-- Page title -->
{% block title %}Profile{% endblock %}

{% block content %}
    <!-- User Profile Section-->
    <div class="row justify-content-center">
        <div class="card col-md-6 col-lg-4 m-3" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/300x200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <button class="btn btn-info btn-md" id="submitButton" type="submit">Edit
                    Post</button>
                <button class="btn btn-danger btn-md" id="submitButton" type="submit">Delete
                    Post</button>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4 m-3" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/300x200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <button class="btn btn-info btn-md" id="submitButton" type="submit">Edit
                    Post</button>
                <button class="btn btn-danger btn-md" id="submitButton" type="submit">Delete
                    Post</button>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4 m-3" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/300x200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <button class="btn btn-info btn-md" id="submitButton" type="submit">Edit
                    Post</button>
                <button class="btn btn-danger btn-md" id="submitButton" type="submit">Delete
                    Post</button>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4 m-3" style="width: 18rem;">
            <img src="https://source.unsplash.com/random/300x200" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <button class="btn btn-info btn-md" id="submitButton" type="submit">Edit
                    Post</button>
                <button class="btn btn-danger btn-md" id="submitButton" type="submit">Delete
                    Post</button>
            </div>
        </div>
    </div>


{% endblock %}