{% extends "base.html" %}

<!-- Page title -->
{% block title %}<i class="fas fa-user-plus"></i> Register{% endblock %}

{% block content %}

<!-- Register -->
<div class="container-fluid px-2 pt-2 d-flex flex-column align-items-center justify-content-center">
    <div class="col-12 max-width">
        <form method="POST" action="{{ url_for('register') }}">

            <!-- Username -->
            <div class="col-12 form-floating mb-2">
                {{ form.username( class="form-control", placeholder="Username Name", autocomplete="on") }}
                <label for="username"><i class="fas fa-user-plus"></i> Username</label>
                {% if form.username.errors %}
                <ul class="errors text-danger">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Password -->
            <div class="col-12 form-floating mb-2">
                {{ form.password( class="form-control", placeholder="Password", autocomplete="on") }}
                <label for="password"><i class="fas fa-user-lock"></i> Password</label>
                {% if form.password.errors %}
                <ul class="errors text-danger">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Password -->
            <div class="col-12 form-floating mb-2">
                {{ form.confirm( class="form-control", placeholder="Confirm Password", autocomplete="off") }}
                <label for="confirm"><i class="fas fa-user-lock"></i> Confirm Password</label>
                {% if form.confirm.errors %}
                <ul class="errors text-danger">
                    {% for error in form.confirm.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Submit -->
            <div class="col-12 mb-3 mt-3"></div>
            <button type="submit" class="btn col-12 btn-lg btn-primary">
                <i class="fas fa-user-plus"></i> Register
            </button>

            <div class="col-12 mt-2 text-white">
                <p>
                    Already Registered??
                    <a href="{{ url_for('login') }}">Log In </a>
                </p>
            </div>
        </form>
    </div>
</div>

{% endblock %}