{% extends "base.html" %}

<!-- Page title -->
{% block title %}User Posts{% endblock %}

{% block content %}

<!-- Button trigger modal -->
<div class="sticky-top mx-2" role="button" style="top: 70px" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h4 class="hover_efect ms-auto"><i class="fas fa-search"></i> Search</h4>
</div>

<!--  search Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel"><i class="fas fa-search"></i> Search</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body  py-3">
                <!-- Query user posts Form -->
                <form class="mx-auto" id="postForm" method="POST" action="{{ url_for('query') }}">
                    <!-- Search query Input field -->
                    <div class="d-flex justify-content-center gap-1">
                        <div class="col-3 input-group-sm">
                            <input class="input form-control me-2" name="search" type="search" placeholder="Keyword"
                                aria-label="Search">
                        </div>
                        <!-- select category From existing categories -->
                        <div class="col-md-3 input-group-sm">
                            <select class="form-select text-capitalize input" name="category" id="category"
                                aria-label="example">
                                <option selected value="select category">select category</option>
                                {% for category in categories %}

                                <option value="{{ category.category_name }}">{{ category.category_name }}
                                </option>

                                {% endfor %}

                            </select>
                        </div>

                        <!-- Submit button -->
                        <div class="col-3">
                            <button class="btn col-12 btn-primary btn-sm" id="submitButton" type="submit">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- User Profile Section-->
<div class="container-fluid d-flex flex-wrap justify-content-center">

    <!-- uer posts -->
    {% for post in posts %}

    <div class="card my-card text-center d-flex bg-secondary flex-column text-secondary m-1">
        <!-- User Posts Card Image -->
        <div class="img_posts bg-secondary">
            <img src="{{ post.image_sm }}" role="button" alt="{{ post.categoty_name }}title {{ post.title }}">
        </div>

        <!-- User Post Card Body description -->
        <div class="card-body text-secondary card_color  p-1">
            <h6 class="p-0 text-uppercase card_color my-1">{{post.title}}</h6>
            <hr class="m-0">
            <p class="card-text p-1">{{post.description}}.</p>
        </div>

        <!-- User Posts Card Footer -->
        <div class="card-footer card_color mb-0 pt-1">
            <p class="card-text m-0">{{post.time_created}}.</p>
            <hr class="m-0">
            <p class="card-text card_color ">Created by user: {{post.created_by}}.</p>
        </div>

        <!-- User Posts Card Link overlay -->
        <a href="{{ url_for('admin_posts',  post_id=post._id ) }}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">Edit
                </div>
            </div>
        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}